$main-color: #ff6402 !default;
$sub-color: #feeee5 !default;

$light-color: #b0b3b4 !default;

$link-color: #3c7eef !default;
$tip-color: #fff4f6 !default;

$error-color: #ff223a !default;
$success-color: #00b76b !default;
